.option {
	width: 20%;
	height: 18px;
	background-color: rgb(255, 221, 213);
	padding: 4px 3px 2px 3px;
	line-height: 20px;
	text-transform: uppercase;
	font-size: 0.7em;
}

.item {
	padding: 0px 2px;
	max-width: 75%;
	float: left;
	text-overflow: ellipsis;
	text-transform: capitalize;
	overflow: hidden;
	white-space: nowrap;
}

#selection_frame{
	width: 20%;
	border-radius: 20px;
	border: 1px solid #aae;
	min-height: 50%;
	float: right;
	padding: 5px;
	margin: 25px;
	font-size: 0.8em;
	font-family: sans-serif;
	text-align: center;
}

#selection > div {
	text-align: initial;
	border-radius: 10px;
	height: 20px;
	margin: 3px;
	padding: 3px 2px 1px 8px;
	background-color: #eef;
}
#selection .delete {
	background: url(delete.svg) no-repeat center;
	background-size: 45px 45px;
	display: inline-block;
	width: 20px;
	height: 1.2em;
	margin: 0px;
	float: right;
	padding: 2px;
}

.delete:hover{
	cursor: pointer;
}
