.option {
	width: 20%;
	height: 18px;
	background-color: rgb(255, 221, 213);
	padding: 4px 3px 2px 3px;
	line-height: 20px;
	text-transform: uppercase;
	font-size: 0.7em;
}

.item {
	padding: 0px 2px;
	max-width: 115px;
	float: left;
	text-overflow: ellipsis;
	text-transform: capitalize;
	overflow: hidden;
	white-space: nowrap;
}

#selection_frame {
	margin-left: 310px;
	margin-right: 20px;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
	box-shadow: 0px 1px 0px rgba(204, 204, 204, 0.5);
	min-height: 40px;
	font-size: 0.8em;
	font-family: sans-serif;
	text-align: left;
}

#selection > div {
	text-align: initial;
	border-radius: 5px;
	height: 20px;
	margin: 1px;
	padding: 3px 2px 1px 8px;
	background-color: #eef;
	max-width: 180px;
	display: inline-block;
	vertical-align: top;
}

#selection .delete {
	background: url(delete.svg) no-repeat center;
	background-size: 45px 45px;
	display: inline-block;
	width: 20px;
	height: 1.2em;
	margin: 0px;
	float: right;
	padding: 2px;
}

.delete:hover{
	cursor: pointer;
}
