#graph svg{
	border: none;
 }
 
#graph text {
	font: 14px sans-serif;
	fill: black;
	stroke: none;
}
 
.link {
    fill: none;
    stroke: #ddd;
    stroke-width: 1.5px;
}

.node {
	fill: #ccc;
	stroke: #fff;
	stroke-width: 1.5px;
}


.node.hover,
.node.hover text,
.node:hover,
.node:hover text{
	fill: #f00 !important;
}

